<!--
 * @Description: 
 * @Version: 
 * @Author: linjinzhi
 * @Date: 2020-06-30 14:49:25
 * @LastEditors: BeSmile
 * @LastEditTime: 2021-01-19 15:52:16
--> 
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="max-age=7200" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <title>----</title>
  </head>
  <body>
    <div id='root'></div>
    <div id="portal"></div>
    <script>
      document.oncontextmenu = function(){
        return false;
      }
    </script>
  </body>
</html>
